<!---Esto es lo 1rtro que se debe declara; -->
{% extends 'base/base.html' %}
{% block content %}
<div class="container" style="background: rgb(193, 214, 204);">
  <main class="container py-5">
    <section class="card card-body">
      <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
        <h1 style="color: aqua;">DJANGO CRUD.</h1>
      </div>
      <p class="mt-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate accusamus cumque 
        et culpa molestias eveniet aperiam cupiditate, deserunt enim sunt, optio ullam odio 
        perferendis vitae quam, adipisci modi soluta amet.
      </p>
    </section>
  </main>
</div>

{% endblock %}